# Advent of Code 2024, Day 1

In [1]:
with open('input.txt', 'r') as f:
    puzzle_input = f.read().strip()

## [First Puzzle:](https://adventofcode.com/2024/day/1)

In [2]:
import pandas as pd
import numpy as np
from io import StringIO

In [3]:
puzzle_input_df = pd.read_csv(StringIO(puzzle_input), delim_whitespace=True, header=None)
puzzle_input_df

/var/folders/88/ld9xc8sx2l1dff6sjjk2pyyc0000gp/T/ipykernel_99370/3792967778.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  puzzle_input_df = pd.read_csv(StringIO(puzzle_input), delim_whitespace=True, header=None)

         0      1
0    66845  37619
1    94793  99076
2    76946  36179
3    27374  48777
4    47847  92154
..     ...    ...
995  86124  77004
996  30895  46438
997  69966  25582
998  31783  85509
999  97288  51968

[1000 rows x 2 columns]

In [4]:
sorted_0 = puzzle_input_df[0].sort_values(ignore_index=True)
sorted_1 = puzzle_input_df[1].sort_values(ignore_index=True)

reshuffled_df = pd.DataFrame({0: sorted_0, 1: sorted_1})
reshuffled_df

         0      1
0    10057  10281
1    10080  10455
2    10186  10590
3    10331  10626
4    10472  10638
..     ...    ...
995  99522  99107
996  99667  99196
997  99797  99196
998  99897  99294
999  99960  99347

[1000 rows x 2 columns]

In [5]:
reshuffled_df['diff'] = (reshuffled_df[1] - reshuffled_df[0]).abs()
reshuffled_df

         0      1  diff
0    10057  10281   224
1    10080  10455   375
2    10186  10590   404
3    10331  10626   295
4    10472  10638   166
..     ...    ...   ...
995  99522  99107   415
996  99667  99196   471
997  99797  99196   601
998  99897  99294   603
999  99960  99347   613

[1000 rows x 3 columns]

In [6]:
np.sum(reshuffled_df['diff'])

np.int64(1889772)

## [Second Puzzle:](https://adventofcode.com/2024/day/1/#part2)

In [10]:
right_list_counts = puzzle_input_df[1].value_counts()
right_list_counts

1
64262    20
48777    19
60422    18
25688    18
16605    18
         ..
74278     1
18690     1
18749     1
87256     1
85509     1
Name: count, Length: 623, dtype: int64

In [19]:
left_list = puzzle_input_df[0]
similarity_scores = [i * right_list_counts[i] if i in right_list_counts else 0 for i in left_list]

In [20]:
np.sum(similarity_scores)

np.int64(23228917)